.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#NavBar{
  background-color: #2BB852;
  color: white;
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}

#navbar-icon{
  height: 100px;
  width:100px,
}

#navbar-options{
  display: flex;
  flex-direction: row;
  align-items: flex-end
}

#navbar-options a{
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 5px 15px;
  font-weight: bold;
  text-decoration: none
  
}

.allRecipesContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 60px 50px

}
.singleRecipeContainer{
  border-style: solid;
  border-color: #c0c0c0;
}

.singleRecipeContainer a{
   color: rgb(77, 77, 77);
   text-decoration: none;
   display: block;
   text-align: center;
   font-weight: bold;
}

.singleRecipeDisplayIcon{
  height: 300px;
  width: 300px
}

#recipeImg{
  max-height: 500px;
  max-width: 500px
}

.imagesHeader{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px
}

.imagesHeader button{
  padding: 10px;
  background-color : #35a956;
  color: white;
  text-decoration: none;
  margin: 10px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.imagesContainer{
  display:flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 50px 30px ;
}

.imgContainer{
  display:flex;
  flex-direction: column;
}

.imgCardButtonContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgCardButton{
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 20px;
  color:grey;
  width:35px;
  padding: 7px 5px;
}

.imgCardButton:hover {
  color: darkgreen;
}

.img-container{
  display: block;
  max-width: 100%;
}

.modal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, modal-footer{
  display:flex;
  justify-content: flex-end;
  padding: 10px
}

.modal-header button{
  display: flex;
  margin: 5px;
}

.modal-title {
  margin: 0
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}

.modal-img-container img{
  max-width: 100%;
  object-fit: contain
}

.imgcardButton_ModalOpen{
  background: none;
  border: none;
  cursor: pointer;

}

#recipeBuilder{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipebuilder-userimages{
  display: flex;
  max-width: 40%;
  max-height: 650px;
  flex-direction: column;
  align-items: center;
}

.recipebuilder_availableImages{
  display:flex;
  max-height: 100%;
  flex-flow: row wrap;
  justify-content: center;
  overflow: scroll;
  background-color: lightgrey;
  padding: 10px;
  border:1px;
  border-style: solid;
  border-color: darkgrey;
}

.basket{
  border-style: solid;
  height: 250px;
  width:500px;
  display:flex;
  flex-direction: row;
}


.recipeSegment-container{
  display:flex;
  align-items: center;
  flex-direction: column

}

.recipeSegment{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  width: 80%;
  padding: 20px;
  border-radius: 6px;
  margin: 5px
}

.verifyTextBox{
  border-style: solid;
  border-width: 1px;
  width:500px;
  background-color: white;
}

.recipeImg{
  max-width: 400px;
  max-height: 100%
}

#acceptTextButton{
  text-align: center;
  background-color: darkgreen;
  position:fixed;
  top:100px;
  left: 47%;
  z-index:100;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 10px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold
}

.progress_page{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tesseract-progress-container{
  width:80%;
  box-shadow: 0px 10px 50px #d7d9de;
  text-align: center;
  padding: 20px;
  background:#f5f5f5
}


#tesseract-progressbar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s

}
#tesseract-progressbar::-webkit-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s;

}
#tesseract-progressbar::-webkit-progress-value {
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  background-color: lightblue;;
  width: 70%;
  border: none;
  transition: all 0.5s;

}
#tesseract-progressbar::-moz-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s;
}

.recipeform-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-outside-box{
  display:block;
  width:60%;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  padding: 10px;
  box-shadow: 0px 10px 25px #d7d9de;
}

.recipeform{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  width: 90%;
  border-width: 1px;
  border-color:lightgray;
  border-left: none;
  border-right: none;
  border-bottom:none;
  gap: 30px;
  padding: 10px
}

#ingredient{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.recipeform-input-label{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-input-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin: 3px;
  left: 2%;
  height: 35px;
}

.recipeform-input-container:hover .recipeform-input-hiddenbutton{
  display: block;
  visibility: visible;  
  color: lightcoral;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
}

.recipeform-input-container:hover .recipeform-input-hiddenbutton:hover{
  display: block;
  color: darkred;
}

.recipeform-input-field-ingredients{
  width: 400px;
  min-width: 150px;
}

#addButton{
  color:green;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
  align-self: flex-start;
}

#addButton:hover{
  color:darkgreen;
}

.recipeform-input-field{
  max-width: 200px;
  margin: 2px;
}

.recipeform-input-hiddenbutton{
  visibility: hidden;  
  position: relative;
  left: 5px
}

.recipeform-input-instructions-container{
  border: solid;
  border-color: lightgray;
  max-width: 80%;
  resize: none
}
#save-recipe{
  text-align: center;
  background-color: darkgreen;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 10px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold
}

.recipe-page-single{
  display: flex;
  justify-content: center;
  
}

.recipe-display-container{
  display:flex; 
  flex-direction: column;
  align-items: left;
  width: 60%;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  padding: 10px;
  box-shadow: 0px 10px 25px #d7d9de;
}

.recipe-display-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-display-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit-button{
  padding: 10px;
  background-color : white;
  color:  #35a956;
  text-decoration: none;
  margin: 10px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: large
}


#edit-button:hover{
  color:darkgreen;
}
.recipe-display-container h1{
  text-align: start
}

.nutrient-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;}


.nutrient-name{
  display: flex;
  justify-content: flex-start;}
  
.nutrient-value{
  display: flex;
  justify-content: center;}
  
  


.main-content-container {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}
