.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#recipeImg{
max-height: 500px;
max-width: 500px
}

.img-container{
  display: block;
  max-width: 100%;
}


#recipeBuilder{
  display:flex;
  flex-direction: row;
  justify-content: space-around;

}

.basket{
  border-style: solid;
  height: 250px;
  width:500px;
  display:flex;
  flex-direction: row;

}

.recipeSegment{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.verifyTextBox{
  border-style: solid;
  border-width: 1px;
  width:500px;
}

.recipeImg{
  width: 500px;
  height: 500px
}

#acceptText{
  max-height: 500px;
  max-width: 500px;
  text-align: center;
  background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
