:root{
  --off_white:#FCFCFC;
  --dark_green: #356809;
  --medium_green: #5FA621
}


.main-content {
  margin-top: 115px; /* Add a top margin to avoid content overlay */
  margin-left: 10%;
  margin-right: 10%;
}

html{
  background-color: var(--off_white)
}

.page-title{
  font-family: 'Manrope', sans-serif;
  font-size: x-large;
  opacity: 85%}

/*///// Navbar ////*/
#navbar{
  background-color: var(--off_white);
  color: var(--dark_green);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 5px  #ced2d8;
  z-index: 1;
}

.navbar-content{
  display: flex;
  flex-direction: row;  
  height: 75px;
  margin-left: 10%;
  margin-right: 10%
}

#navbar-home-link-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

#navbar-home-link{
  display:flex;
  flex-direction: row;
  text-decoration: none;
  font-family: 'Lilita One', cursive;
  color: var(--dark_green);
  align-items: center;
  font-size: 60px;
}

#navbar-icon{
  height: 80px;
  width: 80px;
  padding-top: 10px;
}

.navbar-options-container{
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 5%;
}   

#navbar-options{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#navbar-options a{
  display: flex;
  color: black;
  padding: 5px 10px;
  font-family: 'Mukta', sans-serif;
  font-size: large;
  align-self: center;
  text-decoration: none;
  opacity: 70%;
}

#navbar-options button{
  color: black;
  float: left;
  display: block;
  align-self:center;
  text-align: center;
  padding: 5px 20px;
  font-family: 'Mukta', sans-serif;
  border:none;
  cursor: pointer;
  font-size: large;
  background-color :var(--off_white);
  opacity: 70%;

}

#navbar-auth {
align-self: center;
padding: 5px;
}

#navbar-auth button{
  padding: 10px;
  font-family: 'Mukta', sans-serif;
  text-decoration: none;
  color: var(--dark_green);
  background-color: white;
  border: solid;
  border-radius: 30px;  
  cursor: pointer;
  font-size: large;}

#navbar-auth button:hover{
  padding: 10px;
  font-family: 'Mukta', sans-serif;
  text-decoration: none;
  color: var(--off_white);
  background-color: var(--dark_green);
  border: solid;
  border-radius: 30px;  
  cursor: pointer;
  font-size: large;}

/* Display Recipes */
.allRecipesContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  gap: 30px 30px
}

.singleRecipeContainer{
  width: 200px;
  height: 250px;
  border-style: solid;
  border-color: #d8d8d8;
  box-shadow: 5px 4px 2px  #d7d9de;
  margin-top: 20px;
}

.singleRecipeContainer a{
   color: rgb(77, 77, 77);
   text-decoration: none;
   display: block;
   text-align: center;
   font-weight: bold;
}

.singleRecipeDisplayIcon{
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.recipecontainer-name{
  display:flex;
  align-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-size: large;
  font-weight: bold;
  padding-left: 5px;
}

#recipeImg{
  max-height: 500px;
  max-width: 500px
}

/* Modal */
.modal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
}

.modal-content {
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  z-index: 999;
}

.modal-header, modal-footer{
  position: relative;
  display:flex;
  color:white;
  justify-content: center;
  padding:10px;
  background-color: var(--dark_green)
}

.modal-header button {
  position: absolute;
  margin: 5px;
  top:0;
  right:0;
  color: white;
  background-color:var(--dark_green);
  border: none;
  cursor: pointer;
}

#nav-modal-buttons-container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#nav-modal-buttons-container button{
  padding: 5px;
  margin: 5px
}

/* Recipe Image Intake */
.recipeSegment-container{
  display:flex;
  align-items: center;
  flex-direction: column
}

/* Verify Image Text */
.verify-text-header{
  display: flex;
  flex-direction: row;
}

.recipeSegment{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  width: 80%;
  padding: 20px;
  border-radius: 6px;
  margin: 5px
}

.verifyTextBox{
  border-style: solid;
  border-width: 1px;
  width:450px;
  background-color: white;
}

.recipeImg{
  max-width: 400px;
  max-height: 100%
}

#acceptTextButton{
  text-align: center;
  background-color: darkgreen;
  position:sticky;
  top:100px;
  left: 50%;
  z-index:100;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 15px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold
}

/* Image Parser */
.progress_page{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tesseract-progress-container{
  width:80%;
  box-shadow: 0px 10px 50px #d7d9de;
  text-align: center;
  padding: 20px;
  background:#f5f5f5
}

#tesseract-progressbar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s
}

#tesseract-progressbar::-webkit-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s;

}

#tesseract-progressbar::-webkit-progress-value {
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  background-color: lightblue;;
  width: 70%;
  border: none;
  transition: all 0.5s;
}

#tesseract-progressbar::-moz-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
  color: lightblue;
  width: 70%;
  border: none;
  transition: all 0.5s;
}

/* Verify Image Text */
.verify-recipe{
  display: flex;
  flex-direction: column;
  flex: 1
}

.verify-text-header{
  display: flex;
  flex-direction: row;
}

.verify-text-page{
  display: flex;
  flex-direction: row;
}

.verifyTextBox{
  border-style: solid;
  border-width: 1px;
  width:450px;
  background-color: white;
}

/* Recipe Forms */
.recipeform-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-outside-box{
  display:block;
  width:70%;
  min-width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  padding: 10px;
  box-shadow: 0px 10px 25px #d7d9de;
}

.recipeform{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  width: 90%;
  border-width: 1px;
  border-color:lightgray;
  border-left: none;
  border-right: none;
  border-bottom:none;
  gap: 30px;
  padding: 10px
}

.recipeSegment{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  width: 80%;
  padding: 20px;
  border-radius: 6px;
  margin: 5px
}

.recipeform-subsection{
  display: flex;
  flex-direction: column;
}

.recipeform-img-container{
  border: lightgray;
  border-style: solid;
  min-width: 200px;
  min-height: 100px;
}

#recipeform-img-upload{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  font-size: small;
  cursor: pointer;
  width:120px
}

#recipeform-img-upload:hover{
  color:#1d5c2f
}

#ingredient{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.recipeform-input-label{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.recipeform-instructions-label{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:70%;
  min-height: 100px;
}

.recipeform-input-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin: 3px;
  left: 2%;
  height: 35px;
}

.recipeform-input-container:hover .recipeform-input-hiddenbutton{
  display: block;
  visibility: visible;  
  color: lightcoral;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
}

.recipeform-input-container:hover .recipeform-input-hiddenbutton:hover{
  display: block;
  color: darkred;
}

.recipeform-input-field-ingredients{
  width: 400px;
  min-width: 150px;
}

#addButton{
  color:green;
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
  align-self: flex-start;
}

#addButton:hover{
  color:darkgreen;
}

.recipeform-input-field{
  max-width: 200px;
  margin: 2px;
}

.recipeform-input-hiddenbutton{
  visibility: hidden;  
  position: relative;
  left: 5px
}

.recipeform-input-instructions-container{
  width:100%;
  border: solid;
  border-color: lightgray;
  resize: none;
  height: 100%;
}
#save-recipe{
  text-align: center;
  background-color: darkgreen;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 10px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold
}

/* Display Recipe Single */
.recipe-page-single{
  display: flex;
  justify-content: center;
  min-width: 400px
}

.recipe-display-container{
  display:flex; 
  flex-direction: column;
  align-items: left;
  width: 60%;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  padding: 20px;
  box-shadow: 0px 10px 25px #d7d9de;
}

.recipe-display-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.recipe-display-header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.recipe-display-section{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px
}

.recipe-display-subsection{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.recipe-display-img-container{
  min-width: 100px;
  min-height: 100px;
  max-width: 350px;
}

#recipe-summary{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#recipe-summary-info-container{
  display: flex;
  min-width: 20%;
  padding:10px;
}

.responsive-image{
  width: 100%;
  height: auto;
}

#edit-button{
  padding: 10px;
  background-color : white;
  color:  #35a956;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: large
}


#edit-button:hover{
  color:darkgreen;
}
.recipe-display-container h1{
  text-align: start
}

.nutrient-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;}

.nutrient-name{
  display: flex;
  justify-content: flex-start;}
  
.nutrient-value{
  display: flex;
  justify-content: center;}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: lightgrey; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: darkgrey;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: lightgray;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */

.sidebar-header{
  text-align: center;
  margin: 2px;
}

.sidebar-content{
  padding: 10px;
}

/* Landing Page */
.landingPage-icon-row{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.landingPage-icon-container{
  display:flex;
  flex-direction: column;
}

.landingPage-content{
  display:flex;
  flex-direction: column;
}

.landingPage-header{
  text-align: center
}

.landingPage-title{
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Epilogue', sans-serif;
  color:#259d47;
}

.create-new-recipe-container{
  display:flex;
  justify-content: center;
}

.fabric-container{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Recipe Image Intake */
.image-upload-container{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width:300px;
  min-width: 200px;
  min-height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color:lightgray;
  margin-top: 10%;
  box-shadow: 0px 10px 25px #d7d9de

}
.image-upload-container span{
  display:flex;
  width: 100%;
  height:30px;
  background-color: #2BB852;
  color: white;
  justify-content: center;
  align-items: center ;
  padding-top: 10px;
padding-bottom: 10px;}


.image-upload-form input{
text-align: center;
margin-top: 15px;
margin-left: 60px;
}

.recipe-section-selection-container{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.section-selection-buttons-container{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  min-width: 150px;
  background-color: lightgrey;
  border:rgb(130, 130, 130);
  border-width: 1px;
  border-style: solid;
}

.section-selection-buttons-container button{
  text-align: left;
  width: 100%;
  padding: 5px;
  background-color:lightgrey ;
  cursor: pointer;
  border-left-style: none;
  border-right-style: none;
  border-color: rgb(130, 130, 130);
  border-width: 1px;
  border-bottom-style: solid;
  border-top-style: none;
  padding-left: 15px;
}

.section-selection-buttons-container button:hover{
  background-color:rgb(130, 130, 130); 
  color:white;


}

.recipe-selection-container{
  display: flex;
  background-color:  #a9a9a9;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

#cropper-container{
  position:relative;
  top: 0;
  left: 0;
  padding-right: 50px;
}

#cropper-id{
  margin-top: 20px;
  margin-bottom: 20px;
}

#recipe-canvas-container{
  position: relative;
  top: 0;
  left: 0;
  padding-right: 50px;
}

.create-new-recipe-header{
  background-color: #2BB852;
  color: white;
}